.app {
  height: 100vh;

  background-image: url("./assets/img/background-img.jpg");
  background-size: cover;

  filter: brightness(5%);

  transition: 2s;

  display: grid;
  grid-template-columns: [full-start] 1fr [map-select-start] 20rem [ map-select-end game-start header-start] 64rem [ game-end header-end char-select-start] 20rem [char-select-end] 1fr [full-end];
  grid-template-rows: [full-start] 1fr [header-start] 20rem [header-end game-start] 51.2rem [game-end dpad-start] 20rem [dpad-end] 1fr [full-end];

  &--opened {
    filter: brightness(100%);
  }
  &__header {
    grid-column: header-start/header-end;
    grid-row: header-start/header-end;

    display: grid;

    align-items: center;
    align-content: flex-start;
    row-gap: 2rem;
  }
  &__heading-1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    margin: auto;
  }
  &__select {
    text-align: center;
    margin: 0 auto;
  }
}
